/* Education.css */

#education {
  color: white;
  background-color: #431407; /* Equivalent of bg-orange-950 */
  opacity: 0.99;
  padding-top: 3rem; /* Equivalent to pt-12 */
  font-family: sans-serif; /* Equivalent of body-font */
}

@media (min-width: 640px) {
  #education {
    padding-top: 6rem; /* Equivalent to sm:pt-24 */
  }
}

.container {
  padding: 0 20px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    padding-top: 6rem; /* Equivalent to sm:py-24 */
    padding-bottom: 6rem;
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem; /* Equivalent to mb-12 */
}

@media (min-width: 640px) {
  .section-title {
    margin-bottom: 5rem; /* Equivalent to sm:mb-20 */
  }
}

h1 {
  font-size: 2.25rem; /* Equivalent to text-4xl */
  font-weight: bold;
}

@media (min-width: 640px) {
  h1 {
    font-size: 3rem; /* Equivalent to sm:text-5xl */
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem; /* Equivalent to md:text-6xl */
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4.5rem; /* Equivalent to lg:text-7xl */
  }
}

.education-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem; /* Negative margin to handle spacing */
}

.card {
  padding: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .card {
    width: 50%; /* Equivalent to md:w-1/2 */
  }
}

@media (min-width: 1024px) {
  .card {
    width: 33.33%; /* Equivalent to lg:w-1/3 */
  }
}

.card-content {
  background-color: #c2410c; /* Equivalent to bg-orange-700 */
  display: flex;
  flex-direction: column;
  padding: 1.5rem; /* Equivalent to p-6 */
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 640px) {
  .card-content {
    padding: 2rem; /* Equivalent to sm:p-8 */
  }
}

.card-content:hover {
  transform: scale(1.05); /* Equivalent to hover:scale-105 */
}

.card-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: #ea580c ; /* Equivalent to bg-orange-600 */
  border-radius: 50%;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

}
.card-title {
  color: white;
  font-size: 1.125rem; /* Equivalent to text-lg */
  font-weight: 600;
}

@media (min-width: 640px) {
  .card-title {
    font-size: 1.25rem; /* Equivalent to sm:text-xl */
  }
}

.card-text {
  margin-top: 1rem;
  font-size: 0.875rem; /* Equivalent to text-sm */
  line-height: 1.6;
}

@media (min-width: 640px) {
  .card-text {
    font-size: 1rem; /* Equivalent to sm:text-base */
  }
}
