/* InfoSection.css */

#info {
  color: white;
  background-color: #431407; 
  padding-top: 220px; 
  font-family: sans-serif; 
}

@media (min-width: 640px) {
  #info {
    padding-top: 16rem; 
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  padding-top: 3rem; 
  padding-bottom: 3rem;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row-reverse; 
    padding-top: 6rem; 
  }
}

.flex-grow {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 3rem; /* Equivalent to mb-12 */
  text-align: center;
}

@media (min-width: 1024px) {
  .flex-grow {
    width: 50%; /* Equivalent of lg:w-1/2 */
    margin-bottom: 0; /* Equivalent of lg:mb-0 */
    text-align: left;
    margin-left: 3rem; /* Equivalent of lg:ml-12 */
  }
}

h1 {
  font-size: 2.25rem; /* Equivalent to text-4xl */
  font-weight: bold;
  margin-bottom: 1rem; /* Equivalent to mb-4 */
}

@media (min-width: 640px) {
  h1 {
    font-size: 3rem; 
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem; 
  }
}

h2 {
  font-size: 1.5rem; /* Equivalent to text-2xl */
  color: #f97316; /* Equivalent to text-orange-600 */
  font-weight: 500;
  margin-bottom: 1rem; /* Equivalent to mb-4 */
}

@media (min-width: 640px) {
  h2 {
    font-size: 1.875rem; 
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2.25rem; 
  }
}

p {
  margin-bottom: 2rem; 
  line-height: 1.75;
}

.flex {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .flex {
    justify-content: flex-start; /* Equivalent to lg:justify-start */
  }
}

a {
  color: #f97316; /* Equivalent to text-orange-600 */
  font-weight: 600; /* Equivalent to font-semibold */
  background-color: white;
  padding: 0.5rem 1.5rem; /* Equivalent to py-2 px-6 */
  border-radius: 0.5rem; /* Equivalent to rounded-lg */
  font-size: 1.125rem; /* Equivalent to text-lg */
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.05); /* Equivalent to hover:scale-105 */
}
