.project-card {
  background-color: var(--light-bg1);
  color: var(--dark-bg2);
  border: 4px solid var(--light-primary);
  border-radius: 1rem;
  overflow: hidden;
}

.project-image-container {
  width: 100%;
  height: 100%;
}

.project-image {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  object-position: center;
}

.project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light-secondary);
}

.project-description {
  color: var(--dark-bg2);
  margin-top: 0.5rem;
  text-align: center;
}

.project-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--light-primary);
  margin-top: 1rem;
}

.project-features {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 0.5rem;
  color: var(--dark-bg2);
  text-align: left;
  margin-left: 0.5rem;
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.tech-item {
  border: 2px solid var(--light-primary);
  border-radius: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.project-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .project-content {
    padding-left: 1.5rem;
    align-items: flex-start;
    height: 450px;
  }

  .project-description {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .project-content {
    height: 420px;
  }
}

@media (prefers-color-scheme: dark) {
  .project-card {
    background-color: var(--dark-bg2);
    color: var(--light-bg1);
    border-color: var(--dark-primary);
  }

  .project-title {
    color: var(--dark-primary);
  }

  .project-description {
    color: var(--myGry);
  }

  .project-subtitle {
    color: var(--dark-primary);
  }

  .project-features {
    color: var(--gray-200);
  }

  .tech-item {
    border-color: var(--dark-primary);
  }
}