.projects-section {
  background-color: var(--light-bg2);
  opacity: 0.98;
  padding-top: 220px;
  padding-bottom: 8rem;
  font-family: var(--body-font);
}

@media (prefers-color-scheme: dark) {
  .projects-section {
    background-color: var(--dark-bg1);
  }
}

.projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.projects-subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--light-primary);
}

@media (prefers-color-scheme: dark) {
  .projects-subtitle {
    color: var(--dark-primary);
  }
}

.projects-title {
  font-size: 3.75rem;
  color: var(--dark-bg2);
  font-weight: 700;
}

@media (min-width: 640px) {
  .projects-title {
    font-size: 4.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  .projects-title {
    color: var(--light-bg1);
  }
}

.projects-description {
  margin-bottom: 2rem;
  color: var(--dark-bg2);
  padding: 0 2rem;
  margin-top: 0.5rem;
  max-width: 600px;
}

@media (prefers-color-scheme: dark) {
  .projects-description {
    color: var(--light-bg1);
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 3rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}