.contact-section {
  color: var(--light-bg1);
  background-color: var(--dark-bg1);
  font-family: var(--body-font);
  position: relative;
  opacity: 0.99;
}


.contact-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 3rem;
}

.contact-title {
  font-size: 3.75rem;
  font-weight: bold;
  font-family: var(--title-font);
  margin-bottom: 0.25rem;
}

@media (min-width: 640px) {
  .contact-title {
    font-size: 4.5rem;
  }
}

.contact-title-span {
  color: var(--dark-primary);
}

.contact-description {
  color: var(--dark-primary);
  line-height: 1.625;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 1024px) {
  .contact-description {
    width: 66.666667%;
  }
}

.contact-form-container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .contact-form-container {
    width: 66.666667%;
  }
}

@media (min-width: 1024px) {
  .contact-form-container {
    width: 50%;
  }
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}

.form-full-width {
  padding: 0.5rem;
  width: 100%;
}

.form-space-y {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-relative {
  position: relative;
}

.form-label {
  font-size: 0.875rem;
  line-height: 1.75;
}

.form-textarea {
  width: 100%;
  background-color: var(--dark-bg2);
  border-radius: 0.25rem;
  border: 1px solid var(--dark-primary);
  font-size: 1rem;
  outline: none;
  color: var(--light-bg1);
  padding: 0.25rem 0.75rem;
  line-height: 2;
  transition: colors 0.2s ease-in-out;
}


.form-textarea:hover {
  border-color: rgba(var(--dark-primary-rgb), 0.6);
}

.form-textarea:focus {
  background-color: transparent;
  border-color: var(--dark-primary);
  box-shadow: 0 0 0 2px rgba(var(--dark-primary-rgb), 0.4);
}


.form-submit-container {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-message {
  margin-bottom: 0.5rem;
}