
.about-section {
  color: var(--light-bg1);
  background-color: var(--dark-bg1);
  font-family: var(--body-font);
  padding-top: clamp(5rem, 10vw, 6rem);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: clamp(3rem, 6vw, 6rem) 1rem;
}

.main-title {
  font-size: clamp(2.25rem, 5vw, 4.5rem);
  font-weight: 700;
  text-align: center;
}

.highlight {
  color: var(--dark-primary);
  text-decoration: underline;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3rem;
}

.image-container {
  max-width: 400px;
  height: auto;
  border-radius: 0.75rem;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1rem;
  line-height: 1.625;
  text-align: left;
  max-width: 600px;
}

@media (min-width: 768px) {
  .text-container {
    align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .content-wrapper {
    flex-direction: row;
    justify-content:center;
    gap: 20px;
  }
}